@import "tailwindcss";

@theme {
  --font-arabian: "ArabianNights", monospace;
}

@font-face {
  font-family: "ArabianNights";
  src: url("/CinzelDecorative-Bold.ttf");
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
}

.desert-bg {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.night-bg {
  position: relative;
  height: 100vh;
  /* or desired height */
  overflow: hidden;
  /* 🔴 THIS STOPS SCROLL */
}
.night-bg-mobile {
  position: relative;
  height: 100vh;
  /* or desired height */
  overflow: hidden;
  /* 🔴 THIS STOPS SCROLL */
}


.bg-castle {
  background-image: url('/images/castle.png');
  background-position: center;
  background-repeat: no-repeat;
}

@utility mask-img {
  mask-image: url("/images/lamp.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 70%;
}

.night-bg::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: url('/images/main_img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(2px);
  transform: scale(1.1);
  z-index: 0;
}
.night-bg-mobile::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('/images/main_img-mobile.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  transform: scale(1.1);
  z-index: -1;
}

.font-cinzel {
  font-family: 'Cinzel', serif;
}

.event-bg,.work-bg {
  position: relative;
  min-height: 100vh;
}
.event-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/images/events-bg.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.work-bg::before{
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('/images/arabian.webp');
  background-size: cover;
  background-position: center;
  z-index: -1;
}


.bg-frame {
  background-image: url('/images/frame.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
}

.workshop-bg {
  background-image: url('/images/workshops-bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 350px;
  height: 500px;
}

/* .custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

.ws-bg {
  background-image: url("/images/tf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1000px;
  height: 900px;
}