@import "tailwindcss";

.desert-bg {
  background-image: url('/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.bg-castle {
  background-image: url('/images/castle.png');
  background-position: center;
  background-repeat: no-repeat;
}

@utility mask-img {
  mask-image: url("/images/lamp.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 70%;
}